.content{
width: 400px;

    border-width: 2px;
    border-style: solid;
}
.header{
    /* height: 100px; */
    border-width: 2px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.nav-1,.nav-2{
    width: 80px;
   height: 80px;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    margin-bottom: 10px;
    display: inline-block;
    
}
.nav-1{
    margin-right: 155px;

}
.s1,.s2,.s3{
    width: 80px;
    height: 160px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 20px;
}
.footer{
    height: 100px;
    border-width: 2px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
*{
    border-width: 5px !important;
}